Address field for datacenters could do with a floor or suite number

Floor numbers are specific to certain buildings; however, we are all aware of how important this is within well-known buildings like One Wilshire or Seattle Westin building or in Istanbul. Here's an example of exactly that.

-  https://peeringdb.com/fac/687 - Verizon Communications, Inc.
-  https://peeringdb.com/fac/2515 - Telecom Italia Sparkle

These two datacenters are in the same building; (ignore the fact that the addresses are entered slightly differently - that's not the issue here).

It would be nice to have a floor or suite number included in the listing via a specific field in the address block. I would place this in the "how can we be better at database'ing addresses" camp.

```
{
  ...
  "data": [
    {
      "id": 687,
      "address1": "Cobancesme Mah. Kimiz Sk. No 30",
      "address2": "Yenibosna",
      "city": "Istanbul",
      "country": "TR",
      "state": "TR",
      "zipcode": "34196"
      ....
    }
  ]
  ...
}
```


Thanks for proposing this, @mahtin ... do I underdstand it right that you propose to introduce **additional** fields, so that the record would look like

`"address1": "Cobancesme Mah. Kimiz Sk. No 30",
  "address2": "Yenibosna",
  "floor": 5,
   "door": 6,
  ...`



If we were clever, we would use the existing RFC'ed [address](https://tools.ietf.org/html/rfc6350#section-6.3.1) and [geo](https://tools.ietf.org/html/rfc6350#section-5.10 )standards. [RFC6350](https://tools.ietf.org/html/rfc6350) is then modified by [RFC7095](https://tools.ietf.org/html/rfc7095) to describe JSON formatting.

Finally, I would point out that ``ADR` objects are used by the whois replacement ``RDAP`` and that's 100% applicable to PeeringDB's physical address database needs. That is described in [RFC7483](https://tools.ietf.org/html/rfc7483).

The core fields come from these two definitions in RFC6350.

RFC6350 states:
```
6.3.1.  ADR

   Purpose:  To specify the components of the delivery address for the
      vCard object.

   Value type:  A single structured text value, separated by the
      SEMICOLON character (U+003B).
   Cardinality:  *

   Special notes:  The structured type value consists of a sequence of
      address components.  The component values MUST be specified in
      their corresponding position.  The structured type value
      corresponds, in sequence, to
         the post office box;
         the extended address (e.g., apartment or suite number);
         the street address;
         the locality (e.g., city);
         the region (e.g., state or province);
         the postal code;
         the country name (full name in the language specified in
         Section 5.1).

      When a component value is missing, the associated component
      separator MUST still be specified.

      Experience with vCard 3 has shown that the first two components
      (post office box and extended address) are plagued with many
      interoperability issues.  To ensure maximal interoperability,
      their values SHOULD be empty.

      The text components are separated by the SEMICOLON character
      (U+003B).  Where it makes semantic sense, individual text
      components can include multiple text values (e.g., a "street"
      component with multiple lines) separated by the COMMA character
      (U+002C).

      The property can include the "PREF" parameter to indicate the
      preferred delivery address when more than one address is
      specified.

      The GEO and TZ parameters MAY be used with this property.

      The property can also include a "LABEL" parameter to present a
      delivery address label for the address.  Its value is a plain-text
      string representing the formatted address.  Newlines are encoded
      as \n, as they are for property values.

   ABNF:

     label-param = "LABEL=" param-value

     ADR-param = "VALUE=text" / label-param / language-param
               / geo-parameter / tz-parameter / altid-param / pid-param
               / pref-param / type-param / any-param
     ADR-value = ADR-component-pobox ";" ADR-component-ext ";"
                 ADR-component-street ";" ADR-component-locality ";"
                 ADR-component-region ";" ADR-component-code ";"
                 ADR-component-country
     ADR-component-pobox    = list-component
     ADR-component-ext      = list-component
     ADR-component-street   = list-component
     ADR-component-locality = list-component
     ADR-component-region   = list-component
     ADR-component-code     = list-component
     ADR-component-country  = list-component

   Example: In this example, the post office box and the extended
   address are absent.

     ADR;GEO="geo:12.3457,78.910";LABEL="Mr. John Q. Public, Esq.\n
      Mail Drop: TNE QB\n123 Main Street\nAny Town, CA  91921-1234\n
      U.S.A.":;;123 Main Street;Any Town;CA;91921-1234;U.S.A.
```

```
5.10.  GEO

   The GEO parameter can be used to indicate global positioning
   information that is specific to an address.  Its value is the same as
   that of the GEO property (see Section 6.5.2).

   ABNF:

     geo-parameter = "GEO=" DQUOTE URI DQUOTE
```

In RFC7483, we see the real world usage of addresses within RDAP; however, in [Appendix-C](https://tools.ietf.org/html/rfc7483#appendix-C) all hell breaks loose!

@arnoldnipper - does this make sense? (it does expand the initial issue)

I seem to recall raging at RFC6350, but I can't remember why now. I agree with using it as proposed by Mahtin to replace our addresses.

"Address field for datacenters could do with a floor or suite number"

+1

@peeringdb/pc no votes on this

@grizz afair that would require a DB update. Right? Hence something for PDB 3.0

@arnoldnipper We can add fields (for new information) and just increment the minor version, so like 2.12

For strict RFC7483 compliance, we'd need to goto PDB version 3.

floor & suite seem very relevant, +1.
On the strict compliance, since we do a lookup of the facility address, can't we get it returned also on how the API "understood" the address to get some conformity and update it like that?

+1 good to add 

@peeringdb/pc let's decide

+1

**Summary**

 * the location information in `fac` and `org` is enhanced to contain `extended-address` and `po-box` 
 * for `fac` the value of `po-box` **must** be ""
 * in PDBv3 
   * `address1` --> `address`
   * `address2` --> `extended-address`

A more sophisticated approach would be to create a new object `location`, so that a facility e.g. might have a `location` labelled "physical address" and another one labelled "delivery address".

@pc, please discuss

+1 to location object - even its internal only for now. 

Plus ... there’s some RFC for address formatting (vs PeeringDB thought up plan)

Sounds good. 

we actually discussed using rfc something something. @grizz ?

> Plus ... there’s some RFC for address formatting (vs PeeringDB thought up plan)

I thought the UPU was the body for standardizing postal address formats. Previous work I have done in this area suggested that although they have been working towards a global standard, it is not well implemented in member states. That said, they have a web page with helpful information here: https://www.upu.int/en/Postal-Solutions/Programmes-Services/Addressing-Solutions

>     * the location information in `fac` and `org` is enhanced to contain `extended-address` and `po-box`
> 
>     * for `fac` the value of `po-box` **must** be ""

Are datacentres not allowed to have po-boxes, assuming of course they have the existing (physical) adress listing? ;)





Let's just look at what fields need to be added for #777 and worry about RFC for version 3 (#625 )

If @leovegoda closed this did @vegu re-open it with the label? Thanks.

Closing again