Disallow unassigned or private ASNs

These ASNs should be blocked from being used anywhere in PeeringDB. No PeeringDB participant can have an ASN from these ranges

### RFC7607
0

### 2 to 4 byte ASN migrations
23456

### RFC5398
64496..64511
65536..65551

### RFC7300
65535
4294967295

### IANA reserved
65552..131071

### RFC6996
64512..65534
4200000000..4294967294

# pythonescque

`[0, 23456] + range(64496, 131072) + range(4200000000, 4294967296)`

resolved with #118 